@import "./variable/common_variable.scss";
@import "./variable/interval_variable.scss";

////////////////////////////////////////////////

main {
  .main-info {
    /* 박스 사이 간격 조절 */
    & > div:first-child {
      padding-bottom: $padding-ragular;
    }
    & > div:not(:last-child) {
      padding-bottom: $padding-ragular;
    }
    & > div + div {
      padding-bottom: $padding-ragular;
    }
    ////////////////////////////////////
    // 컨테이너
    padding: $container-padding 0;
    .title {
      text-align: center;
      letter-spacing: 0em;
      span {
        display: block;
        color: $main-color;
        font-size: 3.5rem;
      }
    }
    .img-box {
      margin: 0 auto;
      width: 20%;
      img {
        width: 100%;
      }
    } //img-box
    .desc {
      text-align: center;
      line-height: 1.7;
      span {
        display: block;
      }
    } //desc
    .mcolor-mbtn {
      margin: 0 auto;
      width: 14rem;
    }
  } //main-info
  .brand-info {
    padding-bottom: $container-padding;
    .title {
      font-size: 4rem;
      text-align: center;
      color: $main-color;
    } //title
    .desc {
      text-align: center;
      padding: $padding-ragular 0;
    }
  }

  .rslider-info-wrap {
    .rslider-info {
      position: relative;
      left: 0;
      display: flex;
      width: 200%;
      animation: slider-ani 10s linear infinite;
    }
    @keyframes slider-ani {
      to {
        left: -100%;
      }
    }
    .rslider-info div {
      display: flex;
      justify-content: space-between;
      padding-left: 6vw;
      box-sizing: border-box;
      flex: 1;
    }

    .rslider-info img {
      width: 14vw;
      margin: 20px 0;
    }
  } //rslider-info-wrap

  .product-info{
    padding-bottom: $container-padding;
  }//product-info
  .news-area{
    .title-wrap{
      .title{
        font-size: 4rem;
        color: $main-color;
        text-align: center;
        padding-bottom: $padding-small;
      }
      .desc{
        color: $basic-font-color;
        text-align: center;
      }
    }
  }
} //main

@media screen and (max-width: 890px) {
  main {
    .rslider-info-wrap {
      display: none;
    }
  }
} //890px
