@import "./variable/common_variable.scss";
header {
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 1em 2rem;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  top: 0;
  left: 0;
  transition: top 0.3s ease-in-out; /* 부드러운 애니메이션 효과 */

  &.hide {
    /* 스크롤 내릴 때 숨김 */
    top: -100px; /* GNB 높이만큼 위로 이동 */
  }

  transition: 0.2s ease-in-out;
  &:hover {
    background-color: $main-color;
  }
  // 호버시 로고 이미지 교체
  &:hover .logo img {
    content: url("../../public/images/ci_w.png");
  }
  &:hover .menu-wrap a {
    color: #fff;
    font-weight: 300;
  }
  &:hover .search-icon {
    color: #fff;
  }
  &:hover .ham-btn span {
    background-color: #fff;
  }
  .logo {
    width: 10em;
    img {
      width: 100%;
    }
  } //logo

  .menu-wrap {
    gap: 2em;
    align-items: center;
    position: relative;
    .sub-menu {
      z-index: -1;
      opacity: 0;
      top: 0;
      position: absolute;
      overflow: hidden;
      height: 0;
      width: 20%;

      line-height: 2.2;
      font-size: 0.9em;
      background: $main-color;
      padding: 10px 20px;
      padding-top: 3em;

      transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out; /* 애니메이션 추가 */

      &:hover {
        opacity: 1;
        padding-top: 1em;
        height: 283px;
      }

      a {
        opacity: 0.5;
      }
      li:hover a {
        opacity: 1;
        transition: 0.1s ease-in-out;
      }
    }
    & > li > a {
      position: relative;
      color: $basic-font-color;
      font-size: 0.9rem;
      cor &::after {
        content: "";
        border-bottom: 1px solid #fff;
        position: absolute;
        font-weight: 100;
        bottom: 0;
        width: 0;
        left: 0;

        transition: all 0.2s ease-in-out;
      }
      &:hover::after {
        content: "";
        left: 0;
        width: 100%;
        font-weight: 400;
      }
    } // 라인 애니 사용위한 li선택자

    // & li:hover + .sub-menu,
    // .sub-menu:hover { :  li:hover + .sub-menu 선택자는 li 바로 뒤에 오는 sub-menu만 선택함. but 실제로는 sub-menu는 li의 자식요소로 중첩되어있으므로

    // 자식요소를 선택하는 > 를 사용
      & li:hover > .sub-menu, // '>' 선택자로 변경!
      .sub-menu:hover{
      opacity: 1;
      padding-top: 3em;
      height: 283px;
    }

    .search-box {
      color: $basic-font-color;
      a {
        .search-icon {
          font-size: 1.6rem;
        }
      }
    }
  } //menu-wrap

  .ham-btn {
    display: none;

    align-content: space-around;
    position: fixed;
    flex-wrap: wrap;

    width: 2rem;
    height: 2rem;
    top: 0;
    right: 0;
    margin: 0.6em 1.9em;
    & span {
      /* z-index: 99999; */
      height: 2px;
      width: 40px;
      background-color: $main-color;
      display: block;
      margin-top: 8px;
      transition: 0.2s ease-in-out;
    }

    &:hover span:first-child {
      translate: 0 9px;
      transform: rotate(45deg);
    }
    &:hover span:nth-child(2) {
      opacity: 0;
      /* display: none; */
    }
    &:hover span:last-child {
      translate: 0 -14px;
      transform: rotate(-45deg);
    }
  }
  .search-box {
    position: relative;
    align-items: center; /* 수직 가운데 정렬 */
    overflow: hidden; /* 넘치는 부분 숨기기 */
    width: 5rem; /* 초기 너비: 아이콘 크기 */
    transition: width 0.3s ease-in-out; /* 너비 변화에 애니메이션 적용 */
    // 밑줄 애니를 위한 가상요소
    &::after {
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      opacity: 0;
      position: absolute;
      width: 0%;
      border-bottom: 1px solid #fff;
      transition: 0.3s ease-in-out;
    }
    &:hover::after {
      opacity: 1;
      left: 0;
      width: 100%;
    }
    //  호버시
    &:hover {
      /* .search-box 내부 요소가 포커스를 얻었을 때 */
      width: 300px; /* 원하는 너비로 변경 */
    }

    .search-icon {
      font-size: 1.7rem;
    } //search-icon

    & input {
      flex-grow: 1; /* 빈 공간을 채우도록 확장 */
      margin-left: 10px; /* 아이콘과 입력 필드 사이 간격 */
      margin-right: 20px;
      opacity: 0; /* 초기 투명도 0 */
      &:focus {
        outline: none;
      }
      border: transparent;
      background-color: transparent;
      color: #fff;
      transition: opacity 0.3s ease-in-out; /* 투명도 변화에 애니메이션 적용 */
    }

    &:hover input {
      opacity: 1; /* 포커스 시 투명도 1 */
    }
  }
} //header

@media screen and (max-width: 1000px) {
  header .menu-wrap > li > a {
    font-size: 0.8rem;
    height: 30px;
  }
} //1000px
@media screen and (max-width: 890px) {
  header {
    flex-direction: column;
    height: 30px;
    .logobx {
      position: absolute;
      left: 20px;
    }
  }
  .ham-btn {
    display: flex !important;
  }
  // ham-btn 클릭시 open클래스 추가하여 보이게
  header .menu-wrap .sub-menu{
    display: none;
  }
  .menu-wrap {
    display: flex; /* 초기 상태: 숨김 처리를 위해 flex로 변경 */
    flex-direction: column;
    align-items: flex-start !important;
    top: 70px;
    left: -100vw; /* 초기 상태: 화면 왼쪽 밖으로 숨김 */
    opacity: 0;
    transition: 0.2s 0.1s ease-in-out; /* 부드러운 슬라이딩 효과 */
    .link-box a {
      color: #fff;
      font-size: 2rem;
      font-weight: 200;
    }
  }
  .menu-wrap.open {
    display: flex; /* 'open' 클래스 추가 시: 표시 */
    opacity: 1;
    top: 70px;
    left: -8.4vw;
    align-items: flex-start;
    color: #fff;

    width: 80vw;
    height: 100vh;
  }
  header.open {
    height: 100vh;
    transition: 0.2s ease-in-out;
    background-color: $main-color;
    .logo img {
      content: url("../../public/images/ci_w.png");
    }
    .ham-btn {
      span {
        color: #fff !important;
      }
    }
  }

  header .search-box {
    display: none;
  }
} //890px

