//2차 프로젝트 슬밋 메인 CSS - main.scss
@import "./common/core";
@import "./common/common";
////import area//////////////////////////////////

/////메인영역
main{

    #main-visual-slider{
      ul > li{
        /* 텍스트박스 가운데 위치를 위한 부모박스 */
        position: relative;
    
        .desc-wrap{
          position: absolute;
          left: 50%;
          top: 50%;
          translate: -50% -50%;
        }
        a{
          color: $FontColor3;
          .tit{
            font-family: var(--font-title);
            font-size: $fontsize-title1;
          }
          .desc{
            margin-top: var(--margin-top-text);
    
            font-size: $fontsize1;
            font-weight: 200;
          }
        }
      }
    
    }
    
    
    
    }//////////////////main
    
    