//컬러
$main-color: #062C5E;
$border-color: #A7A7A7;


//폰트 변수
/****************** 폰트 컬러 ******************/
// 기본
$basic-font-color: #16181B;
$disabled-font-color: #A7A7A7;

/****************** 폰트사이즈 ******************/
// 주석
$annotation-size: .8rem;
$title-size: 4rem;
$sub-title-size: 2.5rem;