// 갤러리 리스트 css
// display: flex

// 폰트 사이즈, 컬러
@import "../../../css/variable/common_variable.scss";
// 여백
@import "../../../css/variable/interval_variable.scss";

$padding-small-percent: 5%;

.category-wrap {
  width: 100%;
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: $border-color;
  }
  .category-list {
    padding: $padding-ragular 0;
    gap: $padding-small;
    justify-content: center;
    li {
      cursor: pointer;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: $main-color;
      } //after
      &:hover,
      &.active {
        font-weight: 700;
        &::after {
          width: 100%;
          left: 0;
        }
      } //hover
    } //li
  } //category-list
} //category-wrap

// 선택박스 css////////////////////////////////////////////////
.select-wrap {
  width: 100%;
  text-align: center;
  padding: $padding-ragular 0;
  button {
    width: 50%;
    padding: $padding-Xsmall;
    border-radius: 25px;
    font-size: 16px;
    //버튼 스타일 초기화
    background: transparent;
    background-color: transparent;
    border: 1px solid $main-color;
    align-items: center;
    position: relative;
    .arrow{
      position: absolute;
      right: 0;
       padding: 0 30px;
    }
  }
  ul {
    margin: 0 auto;
    background: #ffffff;
    width: 50%;
    position: relative;
    border-radius: 25px;
    // padding: $padding-Xsmall 0;
    overflow: hidden;
    height: 0;
    transition: .2s linear;
&.on{
 padding: $padding-Xsmall 0;
 height: 250px;
 position: relative;
 //드롭박스 그림자
 &::after{
   content:"";
   filter: blur(10px);
   position: absolute;
   top: 54%;
   left: 54.8%;
   transform: translate(-50%, -50%);


   display: block;
   width: 100%;
   height: 430px;
   z-index: -1;
   background-color: #82a8ec40;
 }
}
    li {
      border-radius: 20px;
      overflow: hidden;
      padding:10px 0;

      &.active-select {
        background-color: #e4f0ff;
        transition: 1s ease-in-out;
      }
    }
  }
} //select-wrap

.brand-page {
  .brand-list-wrap {
    padding: $container-padding 0;
    background-color: #e5e5eb;
    .brand-list-inner {
      margin: 0 auto;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: $padding-small;
      width: 80vw;
      li {
        background-color: #fff;
        box-sizing: border-box;
        width: 23.3%;
        transition: 0.2s ease-in-out;

        &.other-data {
          opacity: 0.3;
        }
        .cont-wrap {
          overflow: hidden;
          position: relative;
          width: 100%;
          height: 100%;

          .text-wrap {
            position: absolute;

            left: 50%;
            translate: -50% -50%;
            width: 100%;
            height: 100%;

            // 애니 초기값 셋팅
            opacity: 0;
            top: 150%;
            transition: 0.3s ease-in-out;

            background-color: $main-color;

            .info-wrap {
              position: absolute;
              top: 50%;
              left: 50%;
              translate: -50% -50%;
              text-align: center;
              color: #fff;
              font-weight: 300;
              line-height: 1.4;
              .desc {
                font-size: 1rem;
                padding: $padding-small;
              }
            } //info-wrap
          } //text-wrap
        }
        .img-box {
          aspect-ratio: 288/178;
          img {
            width: 100%;
          }
        } //imgbox
        &:hover .text-wrap {
          top: 50%;
          opacity: 1;
        }
      } //li
    }
  } //brand-list-wrap
} //brand-page

// 미디어쿼리////////////////////////////////////////
// ipad pro
@media screen and (max-width: 1024px){
  .brand-page .brand-list-wrap .brand-list-inner {
    justify-content: center;
    li {
      width: 45%;
    }
  }
} 


@media screen and (max-width: 999px) {
  .brand-page .brand-list-wrap .brand-list-inner{
    width: 90vw;
  }
  .brand-page .brand-list-wrap{
    padding: $padding-ragular 0;
  }
} //999

@media screen and (max-width: 425px) {
  .select-wrap button{
    width: 70%;
  }
  .select-wrap ul{
    width: 70%;
  }
  .brand-page .brand-list-wrap .brand-list-inner li {
    width: 100%;
  }
  .brand-page .brand-list-wrap .brand-list-inner li .cont-wrap .text-wrap .info-wrap{
    width: 100%;
  }
}//412
@media screen and (max-width: 320px) {

}//320

