// 갤러리 리스트 css
// display: flex

// 폰트 사이즈, 컬러
@import "../../../css/variable/common_variable.scss";
// 여백
@import "../../../css/variable/interval_variable.scss";

$padding-small-percent: 5%;


.category-wrap{
    width: 100%;
     &::after{
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: $border-color;
     }
        .category-list{
            padding: $padding-ragular 0;
            gap: $padding-small;
            justify-content: center;
            li{
                cursor: pointer;
                position: relative;

                &::after{
                    content: "";
                    position: absolute;
                    bottom: -8px;
                    left: 0;
                    width: 0;
                    height: 2px;
                    background-color: $main-color;
                    transition: 0.3s ease-in-out;
                }//after
                &:hover,&.active{
                    font-weight: 700;
                    &::after{
                        width: 100%;
                        left: 0;
                    }
                } //hover
           
            } //li
        }//category-list

    }//category-wrap


// 선택박스 css////////////////////////////////////////////////
.select-wrap {
    width: 100%;
    text-align: center;
    padding: $padding-ragular 0;
    button {
      width: 50%;
      padding: $padding-Xsmall;
      border-radius: 25px;
      font-size: 16px;
      //버튼 스타일 초기화
      background: transparent;
      background-color: transparent;
      border: 1px solid $main-color;
      align-items: center;
      position: relative;
      .arrow{
        position: absolute;
        right: 0;
         padding: 0 30px;
      }
    }
    ul {
      margin: 0 auto;
      background: #ffffff;
      width: 50%;
      position: relative;
      border-radius: 25px;
      // padding: $padding-Xsmall 0;
      overflow: hidden;
      height: 0;
      transition: .2s linear;
  &.on{
   padding: $padding-Xsmall 0;
   height: 250px;
   position: relative;
   //드롭박스 그림자
   &::after{
     content:"";
     filter: blur(10px);
     position: absolute;
     top: 54%;
     left: 54.8%;
     transform: translate(-50%, -50%);
  
  
     display: block;
     width: 100%;
     height: 430px;
     z-index: -1;
     background-color: #82a8ec40;
   }
  }
      li {
        border-radius: 20px;
        overflow: hidden;
        padding:10px 0;
  
        &.active-select {
          background-color: #e4f0ff;
          transition: 1s ease-in-out;
        }
      }
    }
  } //select-wrap



.gallery-list-wrap {
//   width: 80vw;
  margin: 0 auto;
  padding: $container-padding 0;
  .gallery-list-inner {
    // width: 100%;
    flex-wrap: wrap;
    // gap: $padding-small;
    li {
        width: calc(100%/4);
        padding: $padding-Xsmall;
        box-sizing: border-box;
        //   width: calc((100% / 4) - $padding-small-percent);
        flex-grow: 0; // 남는 공간을 균등하게 차지하도록 설정
        //   flex-basis: 0; // 기본 너비를 0으로 설정
        .img-box {
            aspect-ratio: 260/260;
            transform-origin: center center;
            overflow: hidden;
            img {
                width: 100%;
                scale: 1;
                transition: 4s linear ;
                
        }
      }//img-box
      .info-wrap{
        // 패딩 공통관리
        & > div + div{
            padding-bottom: $padding-Xsmall;
        }
        & > div:first-child{
            padding:  $padding-Xsmall 0;
        }
        
        & > div:last-child{
            padding-bottom: 0;
            padding-top: $padding-Xsmall;
        }
        .category{
            color: $main-color;
            font-size: $annotation-size;
        }//category
        .title{
            font-weight: 500;
            font-size: 1.2rem;
            color: $basic-font-color;
            line-height: 1.4;

            // 줄넘길시 ... 처리/////////////////
            display: -webkit-box;

            max-height: 2.5rem;
            overflow: hidden;
            text-overflow: ellipsis;
            // 줄 지정
            -webkit-line-clamp: 2;
            // 박스 정렬 가로
            -webkit-box-orient: vertical;

            transition: .1s linear;
        }//title
        .date{
            color: $disabled-font-color;
            font-size: $annotation-size;
        }
      }

    //호버시 상태
    // 1. 이미지 박스 확대 효과
    // 2. 텍스트 효과 > 밑줄 + bold
    &:hover .img-box img{
        scale: 1.5;
    }
    &:hover .title{
        font-weight: 700;;
    }
    
    } //li
  }
} //gallery-list-wrap

// 미디어쿼리///////////////////////
@media screen and (max-width: 1024px) {
  .gallery-list-wrap .gallery-list-inner li{
  width: calc(100%/3);

  }
}//1024
@media screen and (max-width: 440px) {
  .gallery-list-wrap .gallery-list-inner li{
  width: 100%;
  }
  .select-wrap ul{
    width: 80%;
  }
  .select-wrap button{
    width: 80%;
  }
  
  .gallery-list-wrap{
    padding: 0.75rem 0;
  }
}//425
