@import "../../../css/variable/common_variable.scss";

// 버튼설정
.mcolor-mbtn{
  cursor: pointer;

}
.mcolor-mbtn .arrow-R {
    padding-left: 10px;
    font-size: .9rem;
    color: $main-color;
    
  }
  .mcolor-mbtn {
    display: block;
    /* height: 24px; */
    // font-weight: 300;
    font-size: .6rem;
    text-decoration: none;
    color: $main-color;
  }
  
  .mcolor-mbtn {
    position: relative;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
    border: transparent;
    background-color: transparent;
    border: 1px solid $main-color;
    color: $main-color;
  
    font-size: 1rem;
    padding: 10px 15px;
  
    transition: 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  }
  /* ease-in-out-quartic; */
  
  .mcolor-mbtn::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: $main-color;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  }
  /* 버튼 호버시 */
  
  .mcolor-mbtn:hover,
  .arrow-R {
    color: #fff;
  }
  
  .mcolor-mbtn:hover .arrow-R {
    color: #fff;
  }
  
  .mcolor-mbtn:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }
  