// sub title scss

// "bg-" + title.toLowerCase()
.sub-title.bg-amorepacific{
    background-image: url("../../../../public/images/")
};
.sub-title.bg-researchninnovatio{
    background-image: url("../../../../public/images/")
};
.sub-title.bg-visualidentity{
    background-image: url("../../../../public/images/")
};
.sub-title.bg-brand{
    background-image: url("../../../../public/images/")
};
.sub-title.bg-ourculture{
    background-image: url("../../../../public/images/")
};