// sub title scss
@import "../../../css/variable/common_variable.scss";
@import "../../../css/variable/interval_variable.scss";
// 서브타이틀 BG
.sub-title.bg-amorepacific {
  background-image: url("../../../../public/images/sub_bg_amore.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.sub-title.bg-researchninnovatio {
  background-image: url("../../../../public/images/sub_bg_resarch.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.sub-title.bg-visualidentity {
  background-image: url("../../../../public/images/sub_bg_visual.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.sub-title.bg-brand {
  background-image: url("../../../../public/images/sub_bg_brand.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.sub-title.bg-news {
  background-image: url("../../../../public/images/sub_bg_culture.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/////////////////////////////////////////////////////////////////////
.sub-title {
  position: relative;
  height: 80vh;
  .title-wrap {
    z-index: 1;
    position: absolute;
    text-align: center;

    top: 100%;
    opacity: 0;
    filter: blur(10px);


    left: 50%;
    translate: -50% -50%;

    width: 80vw;

    padding-bottom: $padding-ragular;
    .title {
      overflow-wrap: break-word;
      padding-bottom: $padding-ragular;
      h2 {
        font-size: 3rem;
        color: #fff;
        font-weight: 200;
      }
    }
    .desc {
      margin: 0 auto;
      line-height: 1.7;
      width: 40vw;
      color: #fff;
    }
    animation: slideUp .8s .1s ease-in-out forwards;
    @keyframes slideUp {
      0%{
        opacity: 0;
        top: 100%;
        filter: blur(10px);
      }
      100%{
        opacity: 1;
        top: 75%;
        filter: blur(0px);
      }
      
    }
  }//title-wrap
  
    .blur-box{
      position: absolute;
      top: -50%;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0;

      animation: opacity .6s ease-in-out forwards;

      @keyframes opacity {
        0%{
          top: -50%;
          opacity: 0;
        }
        100%{
          top: 0%;
          opacity: 0.4;
        }
      }
      
    }
}//sub-title

// 미디어쿼리/////////////////////////////////////////
// 모바일 분기: 661px
@media screen and (max-width: 661px) {
  .sub-title {
    height: 70vh !important;
  }
  .sub-title .title-wrap .desc {
    width: 100%;
  }
}
