@charset "utf-8";

/* 불러오기 영역 */
@import url(./core.css);
@import url(./grid_12_flex.css);
@import url(./reset.css);

body {
  /* overflow: hidden; */
  background-color: #000;
  color: #fff;

  /* 베이스 폰트 */
  font-size: 1.6rem;
  font-weight: 200;
}

/************* 상단배너 설정 *************/

.top-banner {
  padding-top: 6%;
}
.top-banner img {
  width: 35%;
}
.top-banner .desc {
  width: 30%;
  text-align: center;
  margin: 3rem auto;
}

.btn-box {
  margin: 3rem;
  justify-content: center;
}

/* iframe 설정 */
#ifr {
  position: absolute;
  top: 0;
  width: 100%;
  height: 120vh;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  z-index: -1;
}

/* 스크롤 다운 */
.top-banner .linebx {
  /* padding: 0; */
  overflow: hidden;
  height: 80px;
  padding-top: 3vw;
  /* margin-bottom: -3vw; */
}

.top-banner .line {
  display: block;
  height: 50px;
  margin-top: 0;
  border-left: 1px solid #c8c8c8;
  margin-left: 50%;
  transition: 0.2s;
  opacity: 1;

  animation: line-ani 2.5s ease-out infinite;
}

@keyframes line-ani {
  10% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    margin-top: 100px;
  }
  100% {
    opacity: 0;
    margin-top: 100px;
  }
}

/*************  1. info area *************/
#info-area .imgbox img {
  width: 60rem;
}

.btn-link {
  margin-left: -1rem;
  margin-top: 2rem;
}

.btn-link a {
  color: #fff;
}
.btn-link a:hover img {
  rotate: 180deg;

}
.btn-link img {
  transform-origin: 50% 50%;
  rotate: 0;
  margin-right: 2rem;
  transition: .4s;
}

/* 버튼 화살표 호버ef */
.svg-arrow svg {
  translate: 21% -59%;
  fill:none;
  opacity: 0;
  stroke:#fff;
  stroke-width: 1;
  
  stroke-dashoffset: 140%;
  stroke-dasharray: calc(50%*3);

  transition: stroke-dashoffset .4s ease-out, opacity .1s ease-out;
}
.btn-link a:hover .svg-arrow svg {
  opacity: 1;
  stroke-dashoffset: 0;

}

#info-area .desc-box > div {
  margin-top: 4rem;
}

#info-area .gradient {
  margin-top: 32%;
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(0deg, #000000, #00000000);
}

.bulr-box {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100vw;
  backdrop-filter: blur(20px) opacity(100%) saturate(50%) brightness(50%);
}

#info-area {
  overflow: hidden;
  height: 80vh;
  padding-bottom: 15rem;
  backdrop-filter: blur(70px);
  background: url(../sub_badbatch/img/poster_1.jpg) center/cover no-repeat;
}


/*************  2. episode area *************/

#episode-area .tit-box a {
  margin: 0 2rem;
  line-height: 4;
  text-decoration: none;
}

/* 카테고리 */
.Kategorie {
  padding: 2rem 0;
}

.Kategorie a {
  color: #797979;
  margin: 0 2rem;
  transition: 0.2s;
}

/* 클래스 on 추가시  */
.Kategorie li.on a {
  color: #fff;
  text-decoration: underline;
}

.epSlide ul{
  overflow: hidden;
}
.epSlide li {
  padding-left: 4rem;
}
.epSlide li img{
  width: 400px;
  aspect-ratio: 188/106;

}

/*************  3. sns area *************/

.sns-slider-wrap{
  position: relative;
}
.sns-abtn-wrap{
  position: absolute;
  top: 42%;
  justify-content: space-between;
  width: 100%;
  translate: 0 -50%;
}




#sns-area .snsSlide{
  margin-top: 4rem;
  overflow: hidden;
}
#sns-area .snsSlide ul figcaption {
  width: 80%;
}
#sns-area .snsSlide ul li {
  padding-left: 4rem;
}
#sns-area .snsSlide ul li img {
  aspect-ratio: 210/312;
  max-width: 350px;
}


/*************  4. pos area *************/

#pos-area .gradient-top {
  margin-top: -8%;
  width: 100%;
  height: 20vh;
  background-image: linear-gradient(180deg, #000000, #00000000);
}
#pos-area .gradient {
  margin-top: 12%;
  width: 100%;
  height: 20vh;
  background-image: linear-gradient(0deg, #000000, #00000000);
}
#pos-area .tit-wrap .tit-box {
  width: 30%;
  translate: 167% 310%;
}

#pos-area .tit-wrap {
  position: relative;
  left: 50%;
  translate: -50%;
  width: 100vw;
  height: 60vh;
  
  background: url(../sub_badbatch/img/sub_postitle.jpg) 54% 97%/103% no-repeat;
}

#pos-area .slider-wrap ul li img {
  width: 100%;
}
#pos-area .slider-wrap {
  margin-top: 2rem;
}
#pos-area .slider-wrap{
  margin-top: 10rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}


/*************  5. footer banner *************/

#bt-banner-area .desc-wrap {
  position: relative;
}
#bt-banner-area video {
  z-index: -1;
  position: absolute;
  left: 0;
  top: -184%;
}
#bt-banner-area{
  margin: 4rem;
  overflow: hidden;
  height: 40rem;
  border-radius: 4rem;
}


/*********** abtn svg 공통설정 ***********/
.abtn{
  background-color: transparent;
  border-radius: 50%;
  width: 9rem;
  height: 4rem;
  color: rgb(255, 255, 255);
}


