@charset "utf-8";

/* 불러오기 영역 */
@import url(./core.css);
@import url(./grid_12_flex.css);
@import url(./reset.css);


body{
  background-color: #000;
  color: #fff;
}

/* iframe 설정 */
#ifr {
  position: absolute;
  top: 0;
  width: 100%;
  height: 120vh;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  z-index: -1;
}