@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://use.typekit.net/jyj1can.css");

/*font

1. 본문, 한글, 숫자: 프리텐다드

font-family: "Pretendard Variable",Pretendard, apple-system, system-ui, Roboto, sans-serif;

2. 영문 타이틀: miller-display

font-family: "miller-display", serif;
font-weight: 400;
font-style: normal;
Miller Display Italic
font-family: "miller-display", serif;
font-weight: 400;
font-style: italic;
Miller Display Bold
font-family: "miller-display", serif;
font-weight: 700;
font-style: normal;

*/




/* 공통 클래스 */
/* 중앙 속박스 */
.inbox{
    /* 최대 가로크기 */
    min-width: 1200px;
    margin: 0 auto;
}