//2차 프로젝트 슬밋 common CSS - _common.scss
@import "../data/variables";

////////////////////import area////////////////



//GNB 영역
#header-wrap {
  .roll-ban {
    padding: 10px;
    a {
      font-size: $fontsize2;
      color: $FontColor3;
    }
    background-color: $MainColor1;
  }

  #gnb-area {
    padding: 10px 110px;
    gap: 0 20px;
    // justify-content: space-between;
    background-color: $MainColor1;

    a {
      font-size: $fontsize2;
      color: $FontColor3;
    }

    /* 로고사이즈 변경 */





    #R-submenu-wrap{
        gap: 0 20px;
        ul{
            gap: 0 20px;
        }

    }
    /* 서브메뉴 */
    .sub-inner{
        display: none;
    }
  }
}
