//2차 프로젝트 슬밋 common CSS - _common.scss
@import "./core";
////////////////////import area////////////////

:root {

  --font-title: "miller-display", serif;

  --section-margin: 100px;
  --fx-menu-gap: 0 20px;
  --margin-top-text: 20px;
  --padding110: 110px;
}

//변수영역////////////////////////////////////////

//GNB 영역
#header-area {
  background-color: $MainColor1;
  text-align: center;
 
} ////////////header-wrap

/* 푸터영역 */
#footer-area{
  
  padding: 40px;
  background-color: $MainColor1;
  color: $FontColor2;

  #footer-wrap{
    flex-wrap: wrap;
    margin: 0 auto;

    text-align: center;
    line-height: 1;
    justify-content: space-around;
    max-width: 40%;

    img{
      max-width: 200px;
    }
    a{
      padding-left: 10px;
      color: $FontColor2;
    }
  }

  address{
    margin-top: 30px;
    font-style: normal;
    font-size: $fontsize2;
    font-weight: 200;
    gap: 5px 0;
    flex-wrap: wrap;
    justify-content: center;
}
#copyright{
  margin: 30px 0;
}

  }////////footer-area



  /* 탑버튼 */
  #follow-button{
    div{
      display: block;
      width: 50px;
      height: 50px;
    }
    color: $MainColor1;
  }


