/******************* BG cont area *******************/

//메인 비쥬얼 배너

.main-box.bg1{
    background: url(../);
}

//서브 비쥬얼 배너
.sub-main-box.bg1 {
    background: url(../images/main_page/subvisual_L.png);
  }
  .sub-box.bg2 {
    background: url(../images/main_page/subvisual_R01.jpg);
  }
  .sub-box.bg3 {
    background: url(../images/main_page/subvisual_R02.jpg);
  }
  .sub-box.bg3 {
    background: url(../images/main_page/subvisual_R03.jpg);
  }
  .sub-box.bg4 {
    background: url(../images/main_page/subvisual_R04.jpg);
  }
  