// 슬밋pj - 카트목록 css
//임시로 검색 css 넣어둠

@import "./variables/variables";

.cart-list {
  //공통 설정
  padding: 40px;
  
    button.close-btn {
        border: transparent;
        background: transparent;
        cursor: pointer;
        span {
            font-size: 50px;
        }
    }

    background-color: #fff;
    position: fixed;
    width: 34vw;
    height: 100vh;
    top: 0;
    right: 0;
    // right: -72vw;
    z-index: 9999;

}
