@import "./variables/variables";

.category {
  font-size: $fontsize2;
  padding-bottom: 40px;

  .under-line {
    margin-top: 20px;
    border-bottom: 1px solid $MainColor1;
    width: 100%;
  }
  .cgmenu {
    margin: 0 auto;
    align-items: center;
    gap: 1vw;
    .cgitem {
      position: relative;
      a {
        color: $FontColor4;
        &.on {
          color: $FontColor1;
          font-weight: 600;
          font-size: $fontsize1;
        }
      }
    } //li a
  } //ul
}
//category
