//2차 프로젝트 슬밋 인사이드 SCSS
@import "./variables/variables";
////import area//////////////////////////////////

:root {
    --font-title: "miller-display", serif;
    --section-margin: 100px;
    --fx-menu-gap: 0 20px;
    --margin-top-text: 20px;
    --margin-top-40: 40px;
    --padding110: 110px;
    --line-height: 1.7;
}

main.inside-area {
    background-color: #000000;

    //0. 브랜드 헤더
    section.brand-header {
        position: relative;
        height: 100vh;
        background-image: url(../../public/images/inside/ep1_brandmain.jpg); /* 이미지 경로 */
        background-repeat: no-repeat; /* 반복 안 함 */
        background-position: center; /* 가운데 정렬 */
        background-size: cover; /* 꽉 채우기 */

        .blind-L {
            position: absolute;
            width: 50vw;
            height: 100vh;
            top: 0;
            left: 0;
            background-color: #000;
        }
        .blind-R {
            position: absolute;
            width: 50vw;
            height: 100vh;
            top: 0;
            right: 0;
            background-color: #000;
        }

        .object-wrap {
            z-index: 1;
            position: relative;
            opacity: 0;
            bottom: -37%;
            text-align: center;
            span {
                color: #fff;
                font-size: 20px;
                font-weight: 200;
                line-height: 1.7;
            }
            .img-box {
                width: 22vw;
                padding-bottom: 30px;
                margin: 0 auto;
                img {
                    width: 100%;
                }
            }
        }
    }
    // 1. 인트로 섹션
    section.intro {
        position: relative;
        .back-object {
            height: 100vh;
            position: relative;
            .brand-bg {
                position: absolute;
                left: 50%;
                top: 50%;
                translate: -50% -50%;
                width: 20vw;
                img {
                    width: 100%;
                }
            }
            .logo {
                z-index: 1;
                opacity: 0;
                top: 90%;

                width: 5vw;
                position: absolute;
                left: 50%;
                translate: -50% -50%;
                margin: 0 auto;
                img {
                    width: 100%;
                }
            }
        }

        .front-object {
            position: absolute;
            top: 120%;
            left: 50%;
            translate: -50% -50%;
            width: 100%;
            z-index: 99;

            background: #000;
            .object-wrap {
                margin: 0 auto;
                text-align: center;
                width: 40%;
                padding: 130px 0;
                h3 {
                    padding: 40px 0;
                    color: #fff;
                    text-align: center;
                    font-size: $fontsize-title1;
                }
                span {
                    color: #fff;
                    text-align: center;
                    font-size: $fontsize1;
                    font-weight: 200;
                    line-height: 1.7;
                }
            }
        }
    } //intro
    //2. 어바웃 섹션
    section.about-area {
        background-color: #000;
        .text-box {
            color: #fff;
            line-height: 1.7;
            font-weight: 200;
        }
        ul {
            margin: 0 auto;
            width: 80vw;
            justify-content: space-between;

            .text-box {
                align-self: center;
                width: 50%;
                font-size: 30px;
            }
            .img-box {
                margin: 20px auto;
                width: 50%;
                img {
                    width: 100%;
                }
            }
        } //ul
    }

    section.ep-area {
        background: #fff;
        padding: 50px 0;

        .title-box {
            width: 40%;
            text-align: center;
            margin: 0 auto;
            h3 {
                padding: 40px 0;
                color: #1e1e1e;
                text-align: center;
                font-size: $fontsize-title1;
            }
            span {
                color: #1e1e1e;
                text-align: center;
                font-size: $fontsize1;
                font-weight: 200;
                line-height: 1.7;
            }
        } //titlebox

        .ep-list-wrap {
            position: relative;
            top: 350px;
            opacity: 0;
            transition: .2s linear;

            &.on{
                opacity:1;
                top: 0;
            }

            .object-wrap {
                width: 1600px;
                margin: 60px auto;

                ul {
                    li {
                        cursor: pointer;
                        text-align: left;
                        .img-box {
                            width: 80%;
                            img {
                                width: 100%;
                            }
                        }
                        .text-wrap {
                            padding: 20px 0;
                            h4 {
                                color: #1e1e1e;
                                font-size: $fontsize-title2;
                            }
                            span {
                                color: #797979;
                                font-size: $fontsize-title3;
                                font-weight: 200;
                                line-height: 1.7;
                            }
                        }
                    }
                } //ul
            } //object-wrap
        } //ep-list-wrap
        button {
            padding: 40px 0;
            height: 40px;
            border: transparent;
            background: transparent;
            font-size: 30px;
            font-weight: 200;
        }
    }

    section.brand-ban {
        background-image: url(../../public/images/inside/brand05_bg.png); /* 이미지 경로 */
        background-repeat: no-repeat; /* 반복 안 함 */
        background-position: center; /* 가운데 정렬 */
        background-size: cover; /* 꽉 채우기 */

        .text-box {
            padding: 90px 0;
            text-align: center;
            width: 50%;
            margin: 0 auto;
            span {
                display: block;
                color: #fff;
                text-align: center;
                font-size: 20px;
                font-weight: 300;
                line-height: 1.7;
            }
            .logo {
                margin: 80px auto;
                width: 4vw;
                img {
                    width: 100%;
                }
            }
        }
    }
} //inside
