//2차 프로젝트 슬밋 인트로 SCSS
@import "../common/common";
@import "../common/grid_12_flex";
@import "../common/reset";
@import "../data/variables";
@import "../common/core";

////import area//////////////////////////////////

:root {
  --font-title: "miller-display", serif;
  --section-margin: 100px;
  --fx-menu-gap: 0 20px;
  --margin-top-text: 20px;
  --margin-top-40: 40px
  --padding110: 110px;
  --line-height: 1.7;
}


//인트로 영역
#intro-area {
  overflow: hidden;
  background-color: #000;
  .cont-wrap{
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 44%;
    translate: -50% -50%;
    width: 10%;
    span{
   margin: 0 auto;
    width: 20%;
    display: block;
    margin-bottom: 50px;
    img{
      width: 100%;
    }
    }

    .desc{
      position: absolute;

      width: 280%;
      
      left: 50%;
      top: 139%;
      translate: -50% -50%;

      text-align: center;
      font-weight: 200;
      line-height: var(--line-height);
      font-size: $fontsize1;
      color: $FontColor3;
  }
      } //// cont-wrap
      .loading{

        position: absolute;
        left: 50%;
        top: 180%;
        translate: -50% -50%;

        width: 400px;
        height: 1px;
        
        background-color: #fff;
    
      }

  .bg{
    object-fit: fill;
    opacity: 1;
    position: relative;
    height: 100vh;
    // background-image: url(../images/intro_BG.jpg);
    // background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

}///////intro-area-end
