//슬밋PJ search 공통 css

@import "./variables/variables";

.none-text {
  margin: 150px;
  text-align: center;
  font-size: 16px;
  font-weight: 200;
}
.s-title {
  padding-top: 70px;
  font-size: 35px;
  text-align: center;
}
.result-text {
  text-align: center;
  padding: 20px;
  font-size: 25px;
  span {
    font-weight: 600;
  }
}

.blocking-bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  backdrop-filter: blur(20px);

  width: 100vw;
  height: 100vh;
  background: #00000040;
  opacity: 0;

  // pointer-events: none;
}

////gnb 검색박스///////////////////////////////
.search-inner {
  background-color: #fff;
  position: fixed;
  width: 34vw;
  height: 100vh;
  top: 0;
  right: -72vw;
  z-index: 9999;

  .search-box {
    padding: 40px;
    // width: 80%;
    margin: 0 auto;

    .search-header {
      justify-content: flex-start;
      padding-top: 40px;
      .logo {
        width: 200px;
        img {
          width: 100%;
        }
      }
    } //search-header
    .close-btn {
      background-color: transparent;
      border: transparent;
      

      span {
        font-size: 50px;
      }
    }
    button {
      cursor: pointer;
    }

    .input-box {
      margin: 0 auto;
      margin-top: 50px;
      justify-content: center;
      align-items: center;

      width: 100%;
      background-color: #cbcbcb40;
      border-radius: 20px;

      input {
        //버튼 위치조정을 위한 부모값
        position: relative;
        padding-left: 20px;
        width: 100%;
        height: 45px;
        border: transparent;
        background-color: transparent;
        &:focus {
          outline: none;
        } /* outline 테두리 없애기 */
      }

      button {
        cursor: pointer;
        margin-right: 10px;
        background-color: transparent;
        border: transparent;
      }
    } //input-box

    .recent-search-list {
      width: 100%;
      padding: 20px 0;
      line-height: 2;
      h4 {
        font-size: $fontsize-title3;
      }
      span {
        font-size: $fontsize1;
      }
    }
  }
} ///search inner

//서치 페이지///////////////////////////
.search-pg {
  background-color: #fff;
  height: 80vh;

  .input-box {
    margin: 0 auto;
    margin-top: 50px;
    justify-content: center;
    align-items: center;

    width: 60%;
    background-color: #cbcbcb40;
    border-radius: 20px;

    input {
      padding-left: 20px;
      width: 100%;
      height: 45px;
      border: transparent;
      background-color: transparent;
      &:focus {
        outline: none;
      } /* outline 테두리 없애기 */
    }

    button {
      margin-right: 20px;
      background-color: transparent;
      border: transparent;
    }
  }
  .desc-wrap {
    padding-right: 20px;
    .eng-pdtit {
      margin-top: 10px;
      margin-bottom: 5px;
      font-size: $fontsize2;
    }
    .kor-pdtit {
      margin-bottom: 10px;
      font-size: 16px !important;
    }
    .desc {
      display: none;
    }
  }

  #prd-list {
    div {
      section {
        & > a {
          text-align-last: left;
          display: flex;
        }
      }
    }
    .swiper-horizontal > .swiper-scrollbar,
    .swiper-scrollbar.swiper-scrollbar-horizontal {
      width: 100vw;
      margin: 0 20px;
    }
  }
} ////search page

////searching/////////////////////

.searching-wrap {
  margin: 0 auto;
}

.sortbx {
  text-align: center;
  height: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
  select{
    height: 30px;
    width: 150px;
  }
}
.schbx {
  .input-box {
    margin: 0 auto;
    // margin-top: 20px;
    justify-content: center;
    align-items: center;

    width: 60%;
    background-color: #cbcbcb40;
    border-radius: 20px;

    input {
      padding-left: 20px;
      width: 100%;
      height: 45px;
      border: transparent;
      background-color: transparent;
      &:focus {
        outline: none;
      } /* outline 테두리 없애기 */
    }

    button {
      margin-right: 20px;
      background-color: transparent;
      border: transparent;
    }
  }
}
.plist-wrap {
  .plist {
    display: flex;
    flex-wrap: wrap;

    li {
      width: calc(100% / 4);
      padding: 20px;
      box-sizing: border-box;
      transition: 0.2s;
      height: auto;
      border: 1px solid transparent;

      &:hover {
        z-index: 1;
        scale: 1.05;
        box-shadow: 40px 40px 40px #00000010;
        border: 1px solid $FontColor1;
      }
    }

    .desc-wrap {
      padding-right: 20px;
      .eng-pdtit {
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: $fontsize2;
      }
      .kor-pdtit {
        margin-bottom: 10px;
        font-size: 16px !important;
      }
      .desc {
        display: none;
      }
    }

    .img-wrap {
      height: auto;
      position: relative;

      //이미지 공통사항
      img {
        width: 100%;
      }

      .imgbx {
        // aspect-ratio: 1/1.2;
        // width: 100%;
        object-fit: cover;
        height: auto;
        opacity: 1;
        transition: opacity 0.2s;

        &:hover {
          opacity: 0;
        }
      } /////imgbx
      .blur {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
      } //호버시 보이는 이미지
    } //img-wrap
  }
}
.search-pdlist {
  margin-top: 20vh;
}
