//2차 프로젝트 슬밋 / subheader SCSS
@import "./variables/variables";
////import area//////////////////////////////////
:root {
    --font-title: "miller-display", serif;
    --section-margin: 100px;
    --fx-menu-gap: 0 20px;
    --margin-top-text: 20px;
    --margin-top-40: 40px;
    --padding110: 110px;
    --line-height: 1.2;
}

/////////////////////////////////////////////////////////
.sub-header {
    height: 34vh;
    background-color: red;
    padding-bottom: 5vh;
  
    .title {
      
      padding-top: 15vh;
      text-align: center;
      .icon {
        width: 20px;
        margin: 0 auto;
        margin-bottom: 20px;
        img {
          width: 100%;
        }
      }
      h3 {
        color: #fff;
        font-family: var(--font-title);
        font-size: $fontsize-title1;
        font-weight: 600;
        margin-bottom: 20px;
      }
      span {
        color: #fff;
        font-weight: 200;
        font-size: $fontsize2;
      }
    }
  } // sub-header end