//2차 프로젝트 슬밋 메인 CSS - main.scss
@import "./common/common";
@import "./common/grid_12_flex";
@import "./common/reset";
@import "./data/variables";
@import "./common/core";

////import area//////////////////////////////////

:root {
  --font-title: "miller-display", serif;
  --section-margin: 100px;
  --fx-menu-gap: 0 20px;
  --margin-top-text: 20px;
  --margin-top-40: 40px
  --padding110: 110px;
  --line-height: 1.7;
}


//인트로 영역
#intro-area {
  overflow: hidden;
  background-color: #000;
  .cont-wrap{
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 44%;
    translate: -50% -50%;
    width: 10%;
    span{
   margin: 0 auto;
    width: 20%;
    display: block;
    margin-bottom: 50px;
    img{
      width: 100%;
    }
    }

    .desc{
      position: absolute;

      width: 280%;
      
      left: 50%;
      top: 139%;
      translate: -50% -50%;

      text-align: center;
      font-weight: 200;
      line-height: var(--line-height);
      font-size: $fontsize1;
      color: $FontColor3;
  }
      } //// cont-wrap
      .loading{

        position: absolute;
        left: 50%;
        top: 180%;
        translate: -50% -50%;

        width: 400px;
        height: 1px;
        
        background-color: #fff;
    
      }

  .bg{
    object-fit: fill;
    opacity: 1;
    position: relative;
    height: 100vh;
    // background-image: url(../images/intro_BG.jpg);
    // background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

}///////intro-area-end


/////메인영역
main {
  #main-visual-slider {
    ul > li {
      /* 텍스트박스 가운데 위치를 위한 부모박스 */
      position: relative;

      .desc-wrap {
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
      }
      a {
        color: $FontColor3;
        .tit {
          margin-bottom: 30px;
          font-family: var(--font-title);
          font-size: $fontsize-title1;
          
        }
        .desc {
          margin: 0 auto;
          line-height: 1.5;
          width: 70%;
          font-size: $fontsize1;
          font-weight: 200;
        }
      }
    }
  }

  #sub-visual {
    height: 67vh;
    overflow: hidden;

    ul {
      height: 100vh;
      grid-template-columns: repeat(4, 1fr);
    }
    .main-box {
      grid-area: -2 / 1 / 2 / 3;

      position: relative;

      .desc-wrap {
        position: absolute;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
        text-align: center;
        .category{
          tab-size: $fontsize1;
          color: $FontColor1;
        }
        .tit{
          margin-bottom: 30px;
          font-family: var(--font-title);
          font-size: $fontsize-title1;
        }
        .desc{
          margin-top: $text-margin-40;
          font-size: $fontsize1;
          line-height: var(--line-height);
        }
      }
    } /////subvisual_L
    .sub-box {
        position: relative;
        > a  {
          position: absolute;
          left: 50%;
          top: 50%;
          translate: -50% -50%;
          
          font-size: $fontsize1;
        }
    }

    img {
      width: 100%;
    }
  }

  /* 상품추천 리스트 */
  #prd-list {
    padding: 100px 0;


    .desc-box{
      text-align: center;
      color: $FontColor1;
      padding: 60px 0;
      .tit{
        margin-bottom: 20px;
        font-family: var(--font-title);
        font-size: $fontsize-title1;
      }


    }

    .indic{
      margin: 20px auto;
    }

    .slider {
      .item{
        margin: 0 10px;
        width: calc(100% / 5);
        padding: 20px;
        box-sizing: border-box;
        transition: .2s;
        
        &:hover{
          z-index: 1;
          scale: 1.05;
          border: 1px solid #000;
          box-shadow: 40px 40px 40px #00000010;
        }
      }
      margin: 0 auto;
      li {
        //이미지 설정
        .img-wrap {
          position: relative;
          width: 100%;

          .imgbx {
            opacity: 1;
            transition: opacity 0.2s;

            &:hover {
              opacity: 0;
            }

          }
          
          .blur {
            z-index: -1;
            position: absolute;
            top: 0;
          }
          
          img {
            width: 100%;
          }
         
        }

        //텍스트 설정
        .desc-wrap {
          width: 90%;
          .eng-pdtit {
            color: $FontColor2;
            font-size: $fontsize2;
          }
          .kor-pdtit{
            color: $FontColor1;
            font-size: $fontsize-title3;
            font-weight: 600;

            margin-top: var(--margin-top-text);
          }
          
          .desc{
            font-size: $fontsize2;
            line-height: 1.5;
            margin: var(--margin-top-text) 0;
            margin-bottom: 40px;

            a{
              color: $FontColor1;
            }
          }
        }
      }
    }
  }

  #best-prdList {
    .slider {
      width: 100vw;
      overflow: hidden;
      ul {
        width: 100vw;
        align-items: center;

        .L-item {
          padding: 20px;
          padding-left: 110px;
        }

        li {
          width: 50vw;
          display: block;

          .sub-tit {
            font-size: $fontsize1;
            padding-top: var(--margin-top-text);
          }
          .tit {
            font-size: $fontsize-title3;
            font-weight: 600;
            padding-top: var(--margin-top-text);
          }

          .desc {
            width: 40%;
            font-size: $fontsize2;
            padding-top: var(--margin-top-text);
            line-height: 1.7;
          }

          img {
            width: 100%;
          }
        }
      }
    }
  }

#best-banner{
  height: 80vh;
  .cont-wrap{
    align-items: center;
      margin: 0 auto;
      justify-content: space-around;

      .sub-tit{
        font-size: $fontsize2;
        color: $FontColor2;
      }
      .tit{
        margin-top: 20px;
        font-size: $fontsize-title1;
        color: $FontColor1;
        font-weight: 600;
      }
      .desc{
        margin-top: 40px;

        width: 60%;
        line-height: var(--line-height);
        font-size: $fontsize2;
        color: $FontColor1;
      }
      button{
        margin-top: 40px;
      }
  }
}



} //////////////////main

/******************* BG cont area *******************/
//서브 비쥬얼 배너
.main-box.bg1 {
  background: url(../images/main_page/subvisual_L.png);
}
.sub-box.bg2 {
  background: url(../images/main_page/subvisual_R01.jpg);
}
.sub-box.bg3 {
  background: url(../images/main_page/subvisual_R02.jpg);
}
.sub-box.bg3 {
  background: url(../images/main_page/subvisual_R03.jpg);
}
.sub-box.bg4 {
  background: url(../images/main_page/subvisual_R04.jpg);
}
