@charset "UTF-8";
/* 그리드 시스템 12grid 적용 - 가로비율 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");
@import url("https://use.typekit.net/jyj1can.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");
@import url("https://use.typekit.net/jyj1can.css");
.col-1 {
  flex-basis: 8.33%;
}

.col-2 {
  flex-basis: 16.66%;
}

.col-3 {
  flex-basis: 25%;
}

.col-4 {
  flex-basis: 33.33%;
}

.col-5 {
  flex-basis: 41.66%;
}

.col-6 {
  flex-basis: 50%;
}

.col-7 {
  flex-basis: 58.33%;
}

.col-8 {
  flex-basis: 66.66%;
}

.col-9 {
  flex-basis: 75%;
}

.col-10 {
  flex-basis: 83.33%;
}

.col-11 {
  flex-basis: 91.66%;
}

.col-12 {
  flex-basis: 100%;
}

/* 파티션 비율박스 공통*/
[class*=col-] {
  /* padding: 10px; */
  box-sizing: border-box;
  /* 원래는 높이값 100%로 부모박스 채우기를 해야하지만 flex의 자식 요소는
  자동으로 부모를 채우도록 설정되어있다 */
}

/* 컨텐트 박스  
-> 플랙스박스는 싸고있는 부모를 설정함!

*/
/* 기본 초기화 셋팅 */
/* 기본 초기화 */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dt,
dd,
p,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

/* ul,ol 순번,블릿없앰 */
ul, ol, li {
  list-style: none;
}

/* 공통클래스: 클리어 설정 */
ul::after,
ol::after,
.clb::after {
  content: "";
  display: block;
}

/* a요소 리셋 */
a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: #1E1E1E;
}

a:hover {
  color: #1E1E1E;
}

/* heading 요소 글자크기 */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  /* 박스 디자인시 글자크기로 인한
  영향을 없애기 위한 초기화! */
}

/* 이미지 초기화 */
img {
  /* 이미지 링크시 서버에서 볼때
  파란 테두리 없앰 */
  border: none;
  /* 박스에 이미지만 넣을때
  엔터간극 4px 하단공백 없애기  */
  vertical-align: middle;
}

/*font

1. 본문, 한글, 숫자: 프리텐다드

font-family: "Pretendard Variable",Pretendard, apple-system, system-ui, Roboto, sans-serif;

2. 영문 타이틀: miller-display

font-family: "miller-display", serif;
font-weight: 400;
font-style: normal;
Miller Display Italic
font-family: "miller-display", serif;
font-weight: 400;
font-style: italic;
Miller Display Bold
font-family: "miller-display", serif;
font-weight: 700;
font-style: normal;
unicode-range: U+0041-005A 


*/
body {
  position: relative;
  border: 1px dotted #797979;
  overflow-x: hidden;
}

html {
  font-family: "Pretendard Variable", sans-serif;
  /* rem 단위 계산 편의를 위하여 */
  font-size: 10px;
}

.svg-area {
  display: none;
}

.fx-box {
  display: flex;
}

.grid-box {
  display: grid;
}

.cont-box {
  max-width: 1600px;
}

.cbx {
  /* 부모박스 높이값에 맞춤! */
  height: 100%;
}

.bgi {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.indic {
  margin: 20px auto;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3137254902);
}
.indic::after {
  content: "";
  display: block;
  width: 200px;
  border: 1px solid #000000;
}

/* 버튼 클래스 */
.button-nomal {
  padding: 15px 20px;
  -moz-text-align-last: left;
       text-align-last: left;
  color: #1E1E1E;
  width: 200px;
  background-color: transparent;
  border: 1px solid #1E1E1E;
  cursor: pointer;
  transition: 0.2s;
}
.button-nomal:hover {
  background-color: #1E1E1E;
  color: #FFFFFF;
}

:root {
  --font-title: "miller-display", serif;
  --section-margin: 100px;
  --fx-menu-gap: 0 20px;
  --margin-top-text: 20px;
  --padding110: 110px;
}

#header-area {
  width: 100vw;
  text-align: center;
}
#header-area .roll-ben {
  text-align: center;
  padding: 10px;
  background-color: #1E1E1E;
}
#header-area .roll-ben a {
  font-size: 13px;
  color: #FFFFFF;
}
#header-area #gnb-area {
  background-color: #1E1E1E;
  position: relative;
  justify-content: space-between;
  padding: 20px 110px;
  /* 좌측메뉴 */
  /* 우측메뉴 */
}
#header-area #gnb-area .logo {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}
#header-area #gnb-area .logo img {
  max-width: 120px;
}
#header-area #gnb-area #L-menu-wrap {
  align-items: center;
}
#header-area #gnb-area #L-menu-wrap .sub-menu {
  align-items: center;
  gap: var(--fx-menu-gap);
  margin-left: 10px;
}
#header-area #gnb-area #L-menu-wrap .sub-menu > a {
  font-size: 13px;
  font-weight: 200;
  color: #FFFFFF;
}
#header-area #gnb-area #L-menu-wrap .sub-menu > a:hover .sub-inner {
  height: 200px;
}
#header-area #gnb-area #L-menu-wrap .sub-menu .sub-inner {
  overflow: hidden;
  height: 0;
}
#header-area #gnb-area #L-menu-wrap .sub-menu .sub-inner > a {
  display: none;
  font-size: 13px;
  font-weight: 200;
  color: #FFFFFF;
}
#header-area #gnb-area #R-menu-wrap ul {
  align-items: center;
}
#header-area #gnb-area #R-menu-wrap ul .icon-item {
  align-items: center;
}
#header-area #gnb-area #R-menu-wrap ul li > a {
  margin-left: 20px;
  font-size: 13px;
  font-weight: 200;
  font-weight: 200;
  color: #FFFFFF;
}
#header-area #gnb-area #R-menu-wrap ul li .icon-img {
  font-size: 35px;
  font-weight: 100;
}
#header-area #gnb-area #R-menu-wrap ul li .mall {
  align-items: center;
  font-size: 30px;
}

/* 푸터영역 */
#footer-area {
  padding: 80px;
  background-color: #1E1E1E;
  color: #D9D9D9;
}
#footer-area #footer-wrap {
  flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5;
  justify-content: space-around;
  max-width: 40%;
}
#footer-area #footer-wrap img {
  max-width: 200px;
}
#footer-area #footer-wrap a {
  padding-left: 10px;
  color: #D9D9D9;
}
#footer-area address {
  margin-top: 30px;
  font-style: normal;
  font-size: 13px;
  font-weight: 200;
  gap: 5px 0;
  flex-wrap: wrap;
  justify-content: center;
}
#footer-area #copyright {
  margin: 30px 0;
}

/* 탑버튼 */
#follow-button {
  position: fixed;
  left: 97vw;
  top: 92vh;
  z-index: 9999;
}
#follow-button #top-button {
  box-sizing: border-box;
  padding: 10px;
  background-color: #1E1E1E;
  width: 40px;
  height: 40px;
}
#follow-button #top-button a {
  color: #FFFFFF;
}
#follow-button #top-button a span {
  font-weight: 150;
}
#follow-button #talk-button {
  box-sizing: border-box;
  padding: 10px;
  width: 40px;
  height: 40px;
  background-color: #494D4B;
}
#follow-button #talk-button a {
  font-size: 13px;
  font-weight: 200;
  color: #FFFFFF;
}

/* 그리드 시스템 12grid 적용 - 가로비율 */
.col-1 {
  flex-basis: 8.33%;
}

.col-2 {
  flex-basis: 16.66%;
}

.col-3 {
  flex-basis: 25%;
}

.col-4 {
  flex-basis: 33.33%;
}

.col-5 {
  flex-basis: 41.66%;
}

.col-6 {
  flex-basis: 50%;
}

.col-7 {
  flex-basis: 58.33%;
}

.col-8 {
  flex-basis: 66.66%;
}

.col-9 {
  flex-basis: 75%;
}

.col-10 {
  flex-basis: 83.33%;
}

.col-11 {
  flex-basis: 91.66%;
}

.col-12 {
  flex-basis: 100%;
}

/* 파티션 비율박스 공통*/
[class*=col-] {
  /* padding: 10px; */
  box-sizing: border-box;
  /* 원래는 높이값 100%로 부모박스 채우기를 해야하지만 flex의 자식 요소는
  자동으로 부모를 채우도록 설정되어있다 */
}

/* 컨텐트 박스  
-> 플랙스박스는 싸고있는 부모를 설정함!

*/
/* 기본 초기화 셋팅 */
/* 기본 초기화 */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dt,
dd,
p,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

/* ul,ol 순번,블릿없앰 */
ul, ol, li {
  list-style: none;
}

/* 공통클래스: 클리어 설정 */
ul::after,
ol::after,
.clb::after {
  content: "";
  display: block;
}

/* a요소 리셋 */
a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: #1E1E1E;
}

a:hover {
  color: #1E1E1E;
}

/* heading 요소 글자크기 */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  /* 박스 디자인시 글자크기로 인한
  영향을 없애기 위한 초기화! */
}

/* 이미지 초기화 */
img {
  /* 이미지 링크시 서버에서 볼때
  파란 테두리 없앰 */
  border: none;
  /* 박스에 이미지만 넣을때
  엔터간극 4px 하단공백 없애기  */
  vertical-align: middle;
}

/* 그리드 시스템 12grid 적용 - 가로비율 */
.col-1 {
  flex-basis: 8.33%;
}

.col-2 {
  flex-basis: 16.66%;
}

.col-3 {
  flex-basis: 25%;
}

.col-4 {
  flex-basis: 33.33%;
}

.col-5 {
  flex-basis: 41.66%;
}

.col-6 {
  flex-basis: 50%;
}

.col-7 {
  flex-basis: 58.33%;
}

.col-8 {
  flex-basis: 66.66%;
}

.col-9 {
  flex-basis: 75%;
}

.col-10 {
  flex-basis: 83.33%;
}

.col-11 {
  flex-basis: 91.66%;
}

.col-12 {
  flex-basis: 100%;
}

/* 파티션 비율박스 공통*/
[class*=col-] {
  /* padding: 10px; */
  box-sizing: border-box;
  /* 원래는 높이값 100%로 부모박스 채우기를 해야하지만 flex의 자식 요소는
  자동으로 부모를 채우도록 설정되어있다 */
}

/* 컨텐트 박스  
-> 플랙스박스는 싸고있는 부모를 설정함!

*/
/* 기본 초기화 셋팅 */
/* 기본 초기화 */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dt,
dd,
p,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

/* ul,ol 순번,블릿없앰 */
ul, ol, li {
  list-style: none;
}

/* 공통클래스: 클리어 설정 */
ul::after,
ol::after,
.clb::after {
  content: "";
  display: block;
}

/* a요소 리셋 */
a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: #1E1E1E;
}

a:hover {
  color: #1E1E1E;
}

/* heading 요소 글자크기 */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  /* 박스 디자인시 글자크기로 인한
  영향을 없애기 위한 초기화! */
}

/* 이미지 초기화 */
img {
  /* 이미지 링크시 서버에서 볼때
  파란 테두리 없앰 */
  border: none;
  /* 박스에 이미지만 넣을때
  엔터간극 4px 하단공백 없애기  */
  vertical-align: middle;
}

/*font

1. 본문, 한글, 숫자: 프리텐다드

font-family: "Pretendard Variable",Pretendard, apple-system, system-ui, Roboto, sans-serif;

2. 영문 타이틀: miller-display

font-family: "miller-display", serif;
font-weight: 400;
font-style: normal;
Miller Display Italic
font-family: "miller-display", serif;
font-weight: 400;
font-style: italic;
Miller Display Bold
font-family: "miller-display", serif;
font-weight: 700;
font-style: normal;
unicode-range: U+0041-005A 


*/
body {
  position: relative;
  border: 1px dotted #797979;
  overflow-x: hidden;
}

html {
  font-family: "Pretendard Variable", sans-serif;
  /* rem 단위 계산 편의를 위하여 */
  font-size: 10px;
}

.svg-area {
  display: none;
}

.fx-box {
  display: flex;
}

.grid-box {
  display: grid;
}

.cont-box {
  max-width: 1600px;
}

.cbx {
  /* 부모박스 높이값에 맞춤! */
  height: 100%;
}

.bgi {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.indic {
  margin: 20px auto;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3137254902);
}
.indic::after {
  content: "";
  display: block;
  width: 200px;
  border: 1px solid #000000;
}

/* 버튼 클래스 */
.button-nomal {
  padding: 15px 20px;
  -moz-text-align-last: left;
       text-align-last: left;
  color: #1E1E1E;
  width: 200px;
  background-color: transparent;
  border: 1px solid #1E1E1E;
  cursor: pointer;
  transition: 0.2s;
}
.button-nomal:hover {
  background-color: #1E1E1E;
  color: #FFFFFF;
}

:root {
  --font-title: "miller-display", serif;
  --section-margin: 100px;
  --fx-menu-gap: 0 20px;
  --margin-top-text: 20px;
  --margin-top-40: 40px
  --padding110: 110px;
  --line-height: 1.7;
}

#intro-area {
  overflow: hidden;
  background-color: #000;
}
#intro-area .cont-wrap {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 44%;
  translate: -50% -50%;
  width: 10%;
}
#intro-area .cont-wrap span {
  margin: 0 auto;
  width: 20%;
  display: block;
  margin-bottom: 50px;
}
#intro-area .cont-wrap span img {
  width: 100%;
}
#intro-area .cont-wrap .desc {
  position: absolute;
  width: 280%;
  left: 50%;
  top: 139%;
  translate: -50% -50%;
  text-align: center;
  font-weight: 200;
  line-height: var(--line-height);
  font-size: 16px;
  color: #FFFFFF;
}
#intro-area .loading {
  position: absolute;
  left: 50%;
  top: 180%;
  translate: -50% -50%;
  width: 400px;
  height: 1px;
  background-color: #fff;
}
#intro-area .bg {
  -o-object-fit: fill;
     object-fit: fill;
  opacity: 1;
  position: relative;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  /* 상품추천 리스트 */
}
main #main-visual-slider ul > li {
  /* 텍스트박스 가운데 위치를 위한 부모박스 */
  position: relative;
}
main #main-visual-slider ul > li .desc-wrap {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}
main #main-visual-slider ul > li a {
  color: #FFFFFF;
}
main #main-visual-slider ul > li a .tit {
  margin-bottom: 30px;
  font-family: var(--font-title);
  font-size: 45px;
}
main #main-visual-slider ul > li a .desc {
  margin: 0 auto;
  line-height: 1.5;
  width: 70%;
  font-size: 16px;
  font-weight: 200;
}
main #sub-visual {
  height: 67vh;
  overflow: hidden;
}
main #sub-visual ul {
  height: 100vh;
  grid-template-columns: repeat(4, 1fr);
}
main #sub-visual .main-box {
  grid-area: -2/1/2/3;
  position: relative;
}
main #sub-visual .main-box .desc-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  text-align: center;
}
main #sub-visual .main-box .desc-wrap .category {
  -moz-tab-size: 16px;
    -o-tab-size: 16px;
       tab-size: 16px;
  color: #1E1E1E;
}
main #sub-visual .main-box .desc-wrap .tit {
  margin-bottom: 30px;
  font-family: var(--font-title);
  font-size: 45px;
}
main #sub-visual .main-box .desc-wrap .desc {
  margin-top: 40px;
  font-size: 16px;
  line-height: var(--line-height);
}
main #sub-visual .sub-box {
  position: relative;
}
main #sub-visual .sub-box > a {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  font-size: 16px;
}
main #sub-visual img {
  width: 100%;
}
main #prd-list {
  padding: 100px 0;
}
main #prd-list .desc-box {
  text-align: center;
  color: #1E1E1E;
  padding: 60px 0;
}
main #prd-list .desc-box .tit {
  margin-bottom: 20px;
  font-family: var(--font-title);
  font-size: 45px;
}
main #prd-list .indic {
  margin: 20px auto;
}
main #prd-list .slider {
  margin: 0 auto;
}
main #prd-list .slider .item {
  margin: 0 10px;
  width: 20%;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.2s;
}
main #prd-list .slider .item:hover {
  z-index: 1;
  scale: 1.05;
  border: 1px solid #000;
  box-shadow: 40px 40px 40px rgba(0, 0, 0, 0.062745098);
}
main #prd-list .slider li .img-wrap {
  position: relative;
  width: 100%;
}
main #prd-list .slider li .img-wrap .imgbx {
  opacity: 1;
  transition: opacity 0.2s;
}
main #prd-list .slider li .img-wrap .imgbx:hover {
  opacity: 0;
}
main #prd-list .slider li .img-wrap .blur {
  z-index: -1;
  position: absolute;
  top: 0;
}
main #prd-list .slider li .img-wrap img {
  width: 100%;
}
main #prd-list .slider li .desc-wrap {
  width: 90%;
}
main #prd-list .slider li .desc-wrap .eng-pdtit {
  color: #D9D9D9;
  font-size: 13px;
}
main #prd-list .slider li .desc-wrap .kor-pdtit {
  color: #1E1E1E;
  font-size: 24px;
  font-weight: 600;
  margin-top: var(--margin-top-text);
}
main #prd-list .slider li .desc-wrap .desc {
  font-size: 13px;
  line-height: 1.5;
  margin: var(--margin-top-text) 0;
  margin-bottom: 40px;
}
main #prd-list .slider li .desc-wrap .desc a {
  color: #1E1E1E;
}
main #best-prdList .slider {
  width: 100vw;
  overflow: hidden;
}
main #best-prdList .slider ul {
  width: 100vw;
  align-items: center;
}
main #best-prdList .slider ul .L-item {
  padding: 20px;
  padding-left: 110px;
}
main #best-prdList .slider ul li {
  width: 50vw;
  display: block;
}
main #best-prdList .slider ul li .sub-tit {
  font-size: 16px;
  padding-top: var(--margin-top-text);
}
main #best-prdList .slider ul li .tit {
  font-size: 24px;
  font-weight: 600;
  padding-top: var(--margin-top-text);
}
main #best-prdList .slider ul li .desc {
  width: 40%;
  font-size: 13px;
  padding-top: var(--margin-top-text);
  line-height: 1.7;
}
main #best-prdList .slider ul li img {
  width: 100%;
}
main #best-banner {
  height: 80vh;
}
main #best-banner .cont-wrap {
  align-items: center;
  margin: 0 auto;
  justify-content: space-around;
}
main #best-banner .cont-wrap .sub-tit {
  font-size: 13px;
  color: #D9D9D9;
}
main #best-banner .cont-wrap .tit {
  margin-top: 20px;
  font-size: 45px;
  color: #1E1E1E;
  font-weight: 600;
}
main #best-banner .cont-wrap .desc {
  margin-top: 40px;
  width: 60%;
  line-height: var(--line-height);
  font-size: 13px;
  color: #1E1E1E;
}
main #best-banner .cont-wrap button {
  margin-top: 40px;
}

/******************* BG cont area *******************/
.main-box.bg1 {
  background: url(../images/main_page/subvisual_L.png);
}

.sub-box.bg2 {
  background: url(../images/main_page/subvisual_R01.jpg);
}

.sub-box.bg3 {
  background: url(../images/main_page/subvisual_R02.jpg);
}

.sub-box.bg3 {
  background: url(../images/main_page/subvisual_R03.jpg);
}

.sub-box.bg4 {
  background: url(../images/main_page/subvisual_R04.jpg);
}/*# sourceMappingURL=main.css.map */