/******************* BG cont area *******************/

//메인 비쥬얼 배너

.main-box.bg1{
    background: url(../../../public/images/main_page/mainvisual_01.jpg);
};
.main-box.bg2{
    background: url(../../../public/images/main_page/mainvisual_02.jpg);
};
.main-box.bg3{
    background: url(../../../public/images/main_page/mainvisual_03.jpg);
};
.main-box.bg4{
    background: url(../../../public/images/main_page/mainvisual_04.jpg);
};

//서브 비쥬얼 배너
.sub-main-box.bg1 {
    background: url(../../../public/images/main_page/subvisual_L.png);
  };
  .sub-box.bg2 {
    background: url(../../../public/images/main_page/subvisual_R01.jpg);
  };
  .sub-box.bg3 {
    background: url(../../../public/images/main_page/subvisual_R02.jpg);
  };
  .sub-box.bg3 {
    background: url(../../../public/images/main_page/subvisual_R03.jpg);
  };
  .sub-box.bg4 {
    background: url(../../../public/images/main_page/subvisual_R04.jpg);
  };
  
  //서브 메뉴 타이틀

  .sub-header.SHOP{
    background: url(../../../public/images/sub_Shop.jpg);
  }
  .sub-header.TASTE{
    background: url(../../../public/images/sub_Taste.jpg);
  }
  .sub-header.BENEFIT{
    background: url(../../../public/images/sub_Benefit.jpg);
  }
  .sub-header.NOTICE{
    background: url(../../../public/images/sub_Notice.jpg);
  }
  .sub-header.INSIDE{
    background: url(../../../public/images/sub_Inside.jpg);
  }