// 변수셋팅

//메인컬러 변수 /////////////
$MainColor1: #1E1E1E;
$MainColor2: #494D4B;
$PointColor: #516855;

///폰트컬러 변수 ///////////
$FontColor1: #1E1E1E;
$FontColor2: #D9D9D9;
$FontColor3: #FFFFFF;


///폰트 사이즈 변수 ///////////
$fontsize-title1: 45px;
$fontsize-title2: 30px;
$fontsize-title3: 24px;
$fontsize1: 16px;
$fontsize2: 13px;

///여백 변수///////////////

$text-margin-40: 40px;