@charset "utf-8";

/* 리셋, 코어, 커먼, 공통 외부 css 합치기 */
@import url(./common.css);
@import url(./core.css);
@import url(./reset.css);

/* 그리드 시스템 */
@import url(./grid_12_float.css);

/* 공사중 표시 */
body *{
    outline: 2px dashed #ccc;
}

/* 1. 상단영역 */
.top-area{
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #062C5E;
}

/* gnb 메뉴 */
.gnb {
    margin-left: 63px;
}

.gdn a{
    display: inline-block;
}

.gnb .category > li{
position: relative;
float: left;
padding: 0 20px;
line-height: 20px;
}


/* 카테고리 */
.category{
display: flex;
text-align: center;
line-height: 30px;

}


.category h2{
    text-align: center;
}

/* 링크 아이콘 */
.licon{
    
    
}

/* 메뉴 아이템 */
.menuitem{
   flex: 1;
}

.sub-inner>h2 a{
    padding: 20px;
    font-size: 0.8vw;
    color: #fff;
}
/* 서브메뉴박스 */
.submenu-box{
    display: flex;
    position: absolute;
}
  

.submenu{
    display: flex;
    width:  20%;
    text-align: start;
}
    


/* 로고 */

.logo{
    position: relative;
    /* top: 50%; */
    transform: translateY(50%);
   

}

/* 로고 사이즈 설정 */
.logo img{
    height: 1vw;
    

}


/* 2. 배너영역 */
.ban-area{
    height: 990px;
    
}

/* 3. 기업 소개 */
.compinfo-area{
    height: 1562px;
    
}

/* 4. 브랜드 소개 */
.brandinfo-area{
    height: 1749px;
    
}

/* 5. 상품 */
.prodinfo-area{
    height: 1780px;
    
}

/* 6. 사내 뉴스 */
.news-area{
    height: 1045px;
    
}

/* 7. 회사 스토리 */
.story-area{
    height: 1124px;
}

/* 8. 푸터 */
.footer-area{
    height: 410px;
    
}
