@charset "utf-8";

/* 리셋, 코어, 커먼, 공통 외부 css 합치기 */
@import url(./common.css);
@import url(./core.css);
@import url(./reset.css);

/* 그리드 시스템 */
@import url(./grid_12_flex.css);

/* 공사중 표시 */
body * {
  outline: 2px dashed #ccc;
}

body {
  /* background: url(../images/mainvs01.jpg); */
}

/* 메인 슬라이드 영역 */
#ban-area {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* 슬라이드 이미지 */
.slider01 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  display: block;
  background: url(../images/mainvs01.jpg) no-repeat center/cover;
}
.slider02 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  display: block;
  background: url(../images/mainvs02.jpg) no-repeat center/cover;
}
.slider03 {
  height: 100vh;
  display: block;
  background: url(../images/mainvs03.jpg) no-repeat center/cover;
}

/* 메인 슬라이드 버튼+텍스트 박스 */
.mstext-box {
  position: absolute;
  margin: 20px 40px;
  padding: 20px 40px;
  /* width: 30vw; */
  bottom: 0;
  right: 0;

  margin-bottom: 13vh;
}

/* 메인 슬라이드 내 텍스트 박스 */
.stext-box {
  /* position: absolute; */
  /* width: 30vw; */
  /* bottom: 0;
  right: 0; */
  margin-bottom: 13vh;
  font-size: 5rem;
  color: #fff;
  line-height: 6.2rem;
  letter-spacing: 0rem;
  white-space: nowrap;
}

.mbtn {
  display: flex;
  margin-left: auto;
  /* position: absolute; */
  border: transparent;
  background-color: transparent;
  color: #fff;

  bottom: 0;

  justify-content: space-between;
  /* right: 40px; */
  width: 200px;
  flex-direction: row;
  font-size: 1.5rem;
  padding: 10px 10px;
}

.mbtn a {
  display: block;
  height: 24px;
  text-decoration: none;
  color: #fff;
}

/* 기업 소개 */
#compinfo-area {
  position: relative;
  width: 100vw;
  height: 1728px;
}

.cominfo {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  background: #fff;
}

/* 기업 소개 내 타이틀 */
.cominfo .tit {
  width: 100vw;
  margin: 30vh 0;
}

/* 기업 소개 내 이미지 */

.coninfo img {
  margin-bottom: 74px;
}

/* 기업소개 텍스트+버튼 */

.txt{
   position: relative;
    display: flex;
    flex-direction: column;
  }
  /* 하단 텍스트 */
  .txt p {
position: relative;
display: block;
width: 40vw;
margin-bottom: 40px;
left: calc(100% - 40vw/2);
transform: translate(-50vw, 0vw);
}

/* 기업소개 더보기 버튼 */

.coninfo .mcolor-mbtn{
  /* position: absolute; */
  border: transparent;
  background-color: transparent;
  /* color: #fff; */
  bottom: 0;
  justify-content: space-between;
  right: 40px;
  max-width: 200px;
  /* flex-direction: row; */
  font-size: 1.5rem;
  padding: 10px 10px;
  left: 42%;
  margin: 0 auto;
}

.rslider-info-wrap{
  width: 1920px;
  overflow: hidden;
}

/* 하단 자동 롤링 이미지 */
#compinfo-area .rslider-info {
  position: relative;
  left: 0;
  display: flex;
  width: 200%;
  animation: slider-ani 10s linear infinite;
}
@keyframes slider-ani {
  to{left:-100%}
}
#compinfo-area .rslider-info div {
  display: flex;
  justify-content: space-between;
  padding-left: 6vw;
  box-sizing: border-box;
  flex: 1;
}

#compinfo-area .rslider-info img {
  width: 14vw;
  margin: 20px 0;
}

/* 브랜드 소개 */
#brandinfo-area {
  height: 1310px;
}

/* 상품 */
#prodinfo-area {
  height: 1680px;
}

/* 사내 뉴스 */
#news-area {
  height: 906px;
}

/* 회사 스토리 */
#story-area {
  height: 906px;
}

/* 푸터 */
#footer-area {
  height: 300px;
}
